@using LearningLoop.Core.WebServices
@inherits ViewPage
@{
    ViewBag.Title = "Learning Loop";
    ViewBag.BodyClass = "Home";
}
<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title</title>

    <!--build:css lib/css/semantic-ui.min.css-->
    <link rel="stylesheet" href="~/bower_components/semantic-ui/dist/semantic.css" />
    <!-- endbuild -->
    <!--build:css css/app.min.css-->
    <link rel="stylesheet" href="~/css/homepage.css" />
    <!-- endbuild -->
    <!-- build:js lib/js/jquery.min.js -->
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/modernizr.min.js -->
    <script src="~/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/semantic-ui.min.js -->
    <script src="~/bower_components/semantic-ui/dist/semantic.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/knockout.min.js -->
    <script src="~/bower_components/knockout/dist/knockout.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/knockout.min.js -->
    <script src="~/bower_components/knockout-projections/dist/knockout-projections.js"></script>
    <!-- endbuild -->
    <!-- build:js js/knockout-bindings.js -->
    <script src="~/js/knockout-bindings.js"></script>
    <!-- endbuild -->
    <script src="~/js/ss-utils.js"></script>
    <!-- build:js js/homepage.js -->
    <script src="~/js/homepage.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        window.App = {};
    </script>
</head>
<body class="@ViewBag.BodyClass.ToString().ToLower()">

    @if (!@IsAuthenticated)
    {
        <div class="ui standard auth modal transition hidden" style="margin-top: -241.5px;">
            <i class="close icon"></i>
            <div class="header">
                Sign In to manage your <b>class</b>.
            </div>
            <div class="content">
                <div class="ui two column aligned relaxed fitted stackable grid">
                    <div class="column">
                        @*<a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
            <i class="fa fa-twitter"></i>Sign in with Twitter
        </a>
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
            <i class="fa fa-facebook"></i>Sign in with Facebook
        </a>

        <a class="btn btn-block btn-social btn-google-plus" href="/auth/GoogleOAuth">
            <i class="fa fa-google-plus"></i>Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-linkedin" href="/auth/LinkedIn">
            <i class="fa fa-linkedin"></i>Sign in with LinkedIn
    <div class="ui horizontal divider">
        Or
        </a>
    </div>*@
                        <div class="ui form segment">
                            <form id="form-login" action="/auth/credentials">
                                <input type="hidden" name="RememberMe" value="true" />
                                <div class="field">
                                    <label>Email</label>
                                    <div class="ui left icon input">
                                        <input type="text" name="Username" placeholder="Email">
                                        <i class="user icon"></i>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <div class="ui left icon input">
                                        <input type="password" name="Password">
                                        <i class="lock icon"></i>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <button type="submit" class="ui blue right submit button">Login with your email</button>
                            </form>
                        </div>
                    </div>
                    <div class="ui vertical divider">
                        Or
                    </div>
                    <div class="column">
                        <div class="ui form segment">
                            <form id="form-register" action="@(new Register().ToPostUrl())" method="POST">
                                <input type="hidden" name="AutoLogin" value="true" />
                                <div class="two fields">
                                    <div class="field">
                                        <label>FirstName</label>
                                        <div class="ui left input">
                                            <input type="text" id="FirstName" name="FirstName" placeholder="First Name">
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="field">
                                        <label>LastName</label>
                                        <div class="ui left input">
                                            <input type="text" name="LastName" id="LastName" placeholder="Last Name">
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <div class="ui left input">
                                        <input type="text" id="Email" name="Email" placeholder="Email">
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <div class="ui left input">
                                        <input type="password" id="Password" name="Password">
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox ">
                                        <input type="radio" checked="checked" name="teacheraccount">
                                        <label>Sign me up as a <b>teacher</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="radio" disabled="disabled" name="teacheraccount">
                                        <label>Sign me up as a <b>parent</b></label>
                                    </div>
                                </div>
                                <button class="huge green ui right labeled icon button">
                                    <i class="signup icon"></i>
                                    Sign Up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")
    <script type="text/javascript">
        $("a").setActiveLinks();
        $(document).bindHandlers();

        $(document).on('sign-out', function () {
            doAuth(null);

            $.getJSON("/auth/logout", function () {
                $(document).trigger('signed-out');
            });
        });

        $(document).on('signed-out', function () {
            location.href = '/';
        });

        $(document).on('signed-in', function () {
            location.href = '@(new GetAccount().ToGetUrl())';
        });

        if (!window.localStorage)
            window.localStorage = {}; //shim

        $("[name=Username]").val(localStorage["Username"] || "");

        $("#form-login").bindForm({
            success: function (r) {
                $(".ui.standard.modal").modal('hide');
                localStorage["Username"] = $("[name=Username]").val();
                $(document).trigger('signed-in');
            }
        });

        $("#form-register").bindForm({
            success: function (r) {
                localStorage["Username"] = $("#Email").val();
                $(document).trigger('signed-in');
            }
        });

        function doAuth(profile) {
            if (profile) {
                App.profile = profile;
                $('.when-anon').hide();
                $(".when-auth").applyValues(profile);
                $(".when-auth").fadeIn('fast');
            } else {
                App.profile = null;
                $('.when-auth').hide();
                $(".when-anon").fadeIn('fast');
            }
        }

        @{
            var session = base.GetSession();
            if (session.IsAuthenticated)
            {
                using (var service = base.ResolveService<UserProfileService>())
                {

                   var profile = service.Get(new GetUserProfile());
                    <text>
        doAuth(@profile.AsRawJson());
        $(document).trigger('authenticated');
        </text>
                }
            }
            else
            {
                <text>
        doAuth(false);
        </text>
            }
        }
    </script>



</body>
</html>